<div class="landing-page">
	<nav class="navbar navbar-transparent navbar-absolute">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="logo" src="img/logo.png"/>
			</div>

			<div class="collapse navbar-collapse" id="navigation-example">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
							<a href="#" class="dropdown-toggle text-white" data-toggle="dropdown">
								Entrar
							</a>
							<ul class="dropdown-menu dropdown-login">
								<li>
									<div class="form-group form-group-0 form-green">
										<input type="text" value="" placeholder="Usuario" class="form-control" />
									</div>
								</li>
								<li>
									<div class="form-group form-group-0 form-green">
										<input type="text" value="" placeholder="Senha" class="form-control" />
									</div>
								</li>
								<li>
									<div class="div-btn-login">
										<button class="btn btn-green btn-round btn-block">Ir</button>
									</div>
								</li>
							</ul>
					</li>
					<li class="register-field">
						<button class="btn btn-green">Cadastrar</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="wrapper">
		<div class="header header-filter" style="background-image: url('img/slide-3.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="title">Comunique-se de forma rápida e fácil</h1>

						<br />
						<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
							<i class="fa fa-play"></i> Watch video
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">

					</div>
				</div>
			</div>
		</div>

		<div class="main main-raised">
			<div class="container">
				<div class="section text-center section-landing">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="title">Conheça o aplicativo</h2>
							<h5 class="description">Para facilitar a comunicação entre um transmissor e um grupo de receptores previamente selecionados, estamos propondo um sistema que visa a rápida troca de mensagens, com criação de grupos e o envio de informações.</h5>
						</div>
					</div>

					<div class="features">
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="info">
									<div class="icon-primary">
										<i class="material-icons">contacts</i>
									</div>
									<h4 class="info-title">Crie grupos!</h4>
									<p class="info-text">Criação de um grupo através de um usuário com um perfil específico chamado Transmissor, usuários que apenas recebem as mensagens são chamados de Receptores.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="info">
									<div class="icon-success">
										<i class="material-icons">perm_identity</i>
									</div>
									<h4 class="info-title">Chame seus amigos!</h4>
									<p class="info-text">Associar usuários ao grupo, cadastrando o e-mail( ou número do celular) dos participantes ou associar aos usuários já cadastrados.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="info">
									<div class="icon-danger">
										<i class="material-icons">chat</i>
									</div>
									<h4 class="info-title">Envie mensagens, convites e muito mais!</h4>
									<p class="info-text">Envio da mensagem através do aplicativo Web ou Mobile e as mensagens se direcionam ao aplicativos mobiles com pushs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		<footer class="footer">
			<div class="container">
				<nav class="pull-left">
					<ul>
						<li>
							<a href="http://www.creative-tim.com">
								About Us
							</a>
						</li>
						<li>
							<a href="http://presentation.creative-tim.com">

							</a>
						</li>
						<li>
							<a href="http://blog.creative-tim.com">

							</a>
						</li>
						<li>
							<a href="http://www.creative-tim.com/license">

							</a>
						</li>
					</ul>
				</nav>
				<div class="copyright pull-right">2017, made with <i class="fa fa-heart heart"></i> by Orange Goggles
				</div>
			</div>
		</footer>

</div>
</div>
