.login-page{
	background: #f9f9f9;
}
.login-box-body{
    border-radius: 5px;
	border: 1px solid #d8dee2;
}
.has-feedback .form-control{
	border-radius: 3px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-bottom20{
	margin-bottom: 20px;
}
.btn-gradient-blue{
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	background-image: linear-gradient(#3c8dbc, #2d6d92);
	border: 1px solid #367fa9;
}
.btn-gradient-blue:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	background-image: linear-gradient(#3783af, #275e7d);
	border: 1px solid #367fa9;
}