.btn-green,.btn-green:hover{
   background-color: #009989;
   color: #FFFFFF;
}
.btn.btn-green{
box-shadow: 0 2px 2px 0 rgba(0, 153, 137, 0.14),
0 3px 1px -2px rgba(0, 153, 137, 0.2),
0 1px 5px 0 rgba(0, 153, 137, 0.12);
}
.btn-green:hover{
box-shadow: 0 14px 26px -12px rgba(0, 153, 137, 0.42),
0 4px 23px 0px rgba(0, 0, 0, 0.12),
0 8px 10px -5px rgba(0, 153, 137, 0.2);
}
.header{
	z-index: 0;
}
.main-raised{
	margin: -80px 100px 0px;
}
h1{
	font-weight: 700;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px !important;
	font-size: 1rem;
	line-height: 1.36;
	color: #86888b;
	letter-spacing: -0.035em;
}
.smaller{
	font-size: 17px !important;
}
.icon-down{
	font-size: 40px;
}
.material-icons{
	font-size: 60px;
}
.features{
	padding: 0;
}
.info-text{
	font-size: 17px !important;
}
.register-field{
	padding-top: 5px;
}
.logo{
	width: 50%;
	margin: 0;
}
.heading-bordered:before{
	background-color: #009989;
}
@media (max-width: 1400px){
	.col-lg-4 {
		width: 100% !important;
	}
}
@media (max-width: 1400px){
	.col-md-offset-2 {
		margin-left: 10%;
	}
}
@media (max-width: 1350px) {
	.col-sm-offset-1 {
		margin-left: 5%;
	}
}
.container-purple{
	background-color: rgba(73,11,62,0.8);
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}
.level-purple{
	margin-left: auto;
	margin-right: auto;
	width: 58%;
}
.text-green{
	color: #009989;
}
.text-white{
	color: white;
}