.between-login{
	display: block;
	padding-top: 14px;
	font-size: 13px
}
.register-login{
	font-size: 14px !important;
	color: #009889 !important;
	font-weight: 700 !important;
}
.logo-warn img{
	width: 50%;
}